@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    @apply font-bodyFont;
    @apply font-normal;
  }
}

@layer components {
  .activeBtn {
    @apply border-solid border-b-blue-500  border-b-[5px] rounded-[3px];
  }
}

@layer utilities {
  .btn {
    cursor: pointer;
    color: #fff;
    background: #3b82f6;
    border: transparent;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 0.5rem 1.2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-transform: capitalize;
    display: inline-block;
    font-size: larger;
  }
  .btn:hover {
    background: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .buttomBar {
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .rightSidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 20%;
    position: sticky;
    top: 100px;
  }

  .leftSidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px;
    width: 15%;
  }
  .centerContainer {
    /* flex: 1 1; */
  }

  .leftSidebarBtn {
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 150px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 8px 8px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .leftSidebarBtnActive {
    border-left-width: 7px;
    background: #f1f1f1;
    border-left-color: #305c45;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .leftSidebarBtnText {
    color: #313638;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .chartFirstContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .chartFirstContainer > div {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    height: min-content;
  }

  .chartSecondContainer > div {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    height: min-content;
  }

  .invoiceColumnBtn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fff;
    padding: 25px 0;
    /* border-bottom-color: #939393; */
  }
  .invoiceColumnBtn > button {
    font-family: 'Cabin', 'Sans-Serif';
    color: #939393;
    font-weight: 400;
    font-size: 18px;
  }
  .invoiceColumnBtn > h5 {
    font-family: 'Cabin', 'Sans-Serif';
    color: #939393;
    font-weight: 400;
    font-size: 15px;
  }
}
