@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    @apply font-bodyFont;
    @apply font-normal;
  }
}

@layer components {
  .activeBtn {
    @apply border-solid border-b-blue-500  border-b-[5px] rounded-[3px];
  }
  .searchInput {
    @apply w-96 h-14 tabPort2:h-12  smallPhone:h-9  phone:w-[220px] text-lg font-normal leading-10 pl-[40px] pr-14 tabPort2:pr-2 pt-3.5 pb-4 rounded-lg border border-zinc-400 hover:border-zinc-400 focus:border-none;
  }
  .buttomBarContainer {
    @apply hidden tabPort1:block buttomBar shadow-shadow-1 w-[100%] border-solid border-t-gray-300 border-t-[1px];
  }

  .btn {
    @apply cursor-pointer text-white shadow-shadow-1 hover:shadow-shadow-2 bg-[#3b82f6] hover:bg-[#1d4ed8] border-transparent rounded-lg tracking-[1px] px-[1.2rem] py-[0.5rem]  inline-block text-[14px];
  }

  .buttomBar {
    @apply fixed bottom-0 left-0 w-full bg-white text-center py-[10px] z-[5] shadow-shadow-2;
  }

  .rightSidebar {
    @apply flex flex-col bg-white sticky top-[100px] h-[calc(100vh-100px)] overflow-x-hidden overflow-y-auto;
  }

  .rightSidebarMobile {
    @apply tabPort1:w-full;
  }

  .rightSidebarWithLeftSidebar {
    @apply w-[20%] tabPort1:w-full;
  }

  .rightSidebarWithNoLeftSidebar {
    @apply w-[16.5%] tabPort1:w-full;
  }

  .rightSidebarMobile {
    @apply w-full;
  }

  .topbar {
    @apply phone:h-10;
  }

  .leftSidebar {
    @apply bg-white flex flex-col items-center justify-between mx-auto sticky top-[100px] h-[calc(100vh-100px)] w-[16%] px-1;
  }

  .centerContainer {
    @apply flex flex-grow flex-shrink mx-3 w-[69%];
  }
}

@layer utilities {
  .rightSidebar::-webkit-scrollbar {
    width: 4.5px;
  }
  .rightSidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .rightSidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  .rightSidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (min-width: 900px) {
    .hideDashboardTitle {
      display: none;
    }
  }

  @media only screen and (max-width: 1100px) {
    .leftSidebar {
      width: 12%;
      padding: 0 0;
    }
  }

  @media only screen and (max-width: 900px) {
    .leftSidebar {
      display: none;
    }
  }

  @media only screen and (max-width: 1100px) {
    .centerContainer {
      margin: 0 0.4rem;
    }
  }
  .hideCenterContainer {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    .centerContainerNotificationActive {
      display: none;
    }
    .centerContainerNotificationMobile {
      width: 100%;
    }
  }
  .leftSidebarBtn {
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 150px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  @media only screen and (max-width: 1100px) {
    .leftSidebarBtn {
      padding-left: 0;
      width: 103px;
    }
  }

  .leftSidebarBtnActive {
    border-left-width: 7px;
    background: #f1f1f1;
    border-left-color: #305c45;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .buttombarBtnActive {
    border-top-width: 1.2px;
    /* background: #f1f1f1; */
    border-top-color: #305c45;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .leftSidebarBtnText {
    color: #313638;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .chartFirstContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  @media only screen and (max-width: 900px) {
    .chartFirstContainer {
      flex-direction: column;
    }
  }

  .chartSecondContainer > div {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 100%;
    height: min-content;
  }

  .invoiceColumnBtn {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fff;
    padding: 25px 0;
    /* border-bottom-color: #939393; */
  }

  @media only screen and (max-width: 600px) {
    .invoiceColumnBtn {
      padding: 15px 0;
    }
  }
  .invoiceColumnBtn > button {
    font-family: 'Cabin', 'Sans-Serif';
    color: #939393;
    font-weight: 400;
    font-size: 18px;
  }

  .invoiceColumnBtn > h5 {
    font-family: 'Cabin', 'Sans-Serif';
    color: #939393;
    font-weight: 400;
    font-size: 28px;
  }

  @media only screen and (max-width: 600px) {
    .invoiceColumnBtn > button {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 400px) {
    .invoiceColumnBtn > button {
      font-size: 12px;
    }
  }

  .infinite-scroll-container {
    width: 100% !important;
  }
}
